*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c0c0c0;
}

body{
    width: 100%;
    height: 100%;
    background: #221e1e;
}

header{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
}

.HeadText{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.HeadText > h1{
    font-size: 400%;
}

.HeadText > p{
    font-size: 200%;
}

.Experience{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ExperienceContent {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.ExperienceHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-weight: 600;
}

.WorkExperience{
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Grid{
    width: 16rem;
    height: 100%;
    border-top: 3px solid #c0c0c0;
    border-bottom: 3px solid #c0c0c0;
    border-left: 3px solid #c0c0c0;
}

.Languages{
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Engines{
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Art{
    width: 100%;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 3px solid #c0c0c0;
}

.Grid:hover {
    box-shadow: 0 0 15px rgb(172, 172, 172);
}

.ProjectBox{
    width: 100%;
    height: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ImageWrapper{
    width: 400px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

.ImageWrapper > img{
    width: 100%;
    object-fit: contain;
}

.ProjectDescription{
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Flipped{
    flex-direction: row-reverse;
}

.ContactInfo{
    width: 100%;
    height: 18rem;
}

.ContactHeader{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-weight: 600;
}

.ContactDescription{
    width: 100%;
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ContactItem{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactHover:hover{
    color:#ffffff;
}


/* .test{
    width: 100%;
    height: 50vh;
    background: green;


    rgb(168, 41, 41)
} */